/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  --screw-purple:#550E75;
  --nav-height:7rem;
  --tableCellHeight:2rem;
  --tableHeight:15rem
  font-family: sans-serif;
}
body{
  background-color: #242424;
}
nav{
  width: 100%;
  background-color:var(--screw-purple) ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
}
#logo{
  height: var(--nav-height);
}

.main-app{
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.add input{
  outline: none;
  border: none;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.add button{
  outline: none;
  border: none;
  background-color: var(--screw-purple);
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}
.add button:hover{
  opacity: 0.6;
}


.table{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headers{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2rem;
  height: var(--tableHeight);
  padding-right: 1.5rem;
}
.headers p{
  height: var(--tableCellHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}